*{
    margin: 0%;
    border: 0%;
}
body{
    background: linear-gradient(to right,red,orange,yellow);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: row;
}
.content{
    text-decoration: none;
    display: flex;
    grid-gap: 20px 20px;
    justify-content: center;
    align-items: center;
}
a{

    background-color:  #524a58;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 4px 2px ;
    color: wheat;
    text-decoration: none;
}
a:hover{
    background-color: transparent;
    border: 2px solid #524a58;
    color: #ffffff;
}